fastapi
pydantic
arabic-reshaper
python-bidi
googlesearch-python
fpdf
PyMuPDF
uvicorn
fastapi
uvicorn
pydantic
python-multipart
arabic-reshaper
googlesearch-python
fpdf
PyMuPDF
pip 
fastapi 
uvicorn 
pymupdf 
arabic-reshaper 
python-bidi 
fpdf aiofiles
